.title{
	text-align: center;
	font-weight: 100;
	font-family: "Lobster", cursive;
	color: #ddd;
	padding-top: 25px;
}
#cardedText{
	font-weight: 100;
	text-align: center;
	margin-top: 50px;
	font-family: "Oswald", sans-serif;
	padding: 0;
	padding-top: 20px;
	margin: 0;
}
#cardedBox{
	background-color: rgba(200,200,200,8);
	border: solid 1px #AAAAAA;
	margin-top: 20px;
	text-align: center;
	width: 100%;
	
}
.decision{
	font-family: "Oswald", sans-serif;
	border: none;
	background: transparent;
	margin-top: 30px;
	border: 1px solid white;
	margin-bottom: 20px;
	font-size: 28px;
	width: 100px;
}
.jumbotron{
	background: #333;
	padding: 0;
	margin: 0;
	border: none;
	border-radius: 0;
}